<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
  <head>
    <title>${name}</title>
  </head>
  <body class="index">
    <div align="center" id="header">
      <h1>${name}</h1>
    </div>
	<br/>
    <table width="100%">
      <py:for each="title in results">
	<tr>
	  <td align="center">
	    <b><a href="/bytitle/${recgroup}/${results[title]}">${title}</a></b> (${counts[title]})
	  </td>
        </tr>
      </py:for>
    </table>
  </body>
</html>
