<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
  <xi:include href="base.html" />
  <head>
    <title>${name}</title>
  </head>
  <body>
    <div align="center" id="header">
	<h1>${name}</h1>
    </div>
	<br/>
    <table width="100%">
      <py:for each="title in results">
	<tr>
	  <td align="center" class="txt">
	    <b>
	      <a href="/bytitle/${recgroup}/${results[title]}">${title}</a>
	    </b> (${counts[title]})
	  </td>
        </tr>
      </py:for>
    </table>
  </body>
</html>
