<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
  <xi:include href="base.html" />
  <head>
    <title>${name}</title>
  </head>
  <body>
    <div align="center" id="header">
	<h1 class="title">${name}</h1>
	<hr/>
    </div>
    <table width="100%">
      <py:for each="title in results">
	<tr>
	  <td align="center" class="txt">
	      <a href="/bytitle/${recgroup}/${results[title]}">
		<b><font size="4" color="user1">${title}</font></b>
	      </a>
	    &nbsp;&nbsp;
	    <font size="4" color="user1">(${counts[title]})</font>
	  </td>
        </tr>
      </py:for>
    </table>
  </body>
</html>
