<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
  <xi:include href="base.html" />
  <head>
    <title>$title</title>
  </head>
  <body>
    <div align="center" id="header">
      <h1 class="title">$title</h1>
    </div>
    <br/>
    <table width="100%">
      <py:for each="name in namemap">
	<tr>
	  <td align="center" class="txt">
	    <b>
	      <font size="2" color="user1">
		<a class="txt" href="/recgroup/${namemap[name]}">${name}</a>
	      </font>
	    </b>
	  </td>
	</tr>
      </py:for>
    </table>
  </body>
</html>
