<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
  <head>
    <title>${title}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta SYABAS-FULLSCREEN="true">
<meta SYABAS-BACKGROUND="file:///opt/sybhttpd/localhost.images/sd/bg.jpg">
<style type="type/css">
	.menu       {font-size:14px;color:user1;font-weight:bold;}
	.menu_h     {font-size:14px;color:user3;font-weight:bold;}
	.txt        {font-size:14px;color:user1;font-weight:bold;}
	.server     {font-size:14px;color:user2;font-weight:bold;}
	.title {font-size:24px;color:user1;font-weight:bold;}
</style>
  </head>
  <body class="index">
    <div align="center" id="header">
      <h1>${recgroup}</h1>
      <h2>${title}</h2>
    </div>

    <table width="100%">
      <py:for each="show in results">
	<tr>
	  <td align="center">
	    <a href="${media}/${show.basename}"
	       TVID="Play"
	       vod="true">
	      <b>${show.subtitle}</b>
	    </a> <i>(Aired: ${show.endtime})</i>
	    <br/>
	    ${show.description} (<a href="/prompt/${show.chanid}/${show.starttime.year}/${show.starttime.month}/${show.starttime.day}/${show.starttime.hour}/${show.starttime.minute}">Delete</a>)
	  </td>
        </tr>
      </py:for>
    </table>
  </body>
</html>
