<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      lang="en">
  <xi:include href="base.html" />
  <head>
    <title>${title}</title>
  </head>
  <body>
    <div align="center" id="header">
      <h1>${recgroup}</h1>
      <h2>${title}</h2>
    </div>

    <table width="100%">
      <py:for each="show in results">
	<tr>
	  <td align="center">
	    <a href="${media}/${show.basename}"
	       TVID="Play"
	       vod="true">
	      <b>${show.subtitle}</b>
	    </a> <i>(Aired: ${show.endtime})</i>
	    <br/>
	    ${show.description} (<a href="/prompt/${show.chanid}/${show.starttime.year}/${show.starttime.month}/${show.starttime.day}/${show.starttime.hour}/${show.starttime.minute}">Delete</a>)
	  </td>
        </tr>
      </py:for>
    </table>
  </body>
</html>
