<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      lang="en">
  <head>
    <title>${title}</title>
  </head>
  <body class="index">
    <div align="center" id="header">
      <h1>${recgroup}</h1>
      <h2>${title}</h2>
    </div>

    <table width="100%">
      <py:for each="show in results">
	<tr>
	  <td align="center">
	    <a href="${media}/${show.basename}"
	       TVID="Play"
	       vod="true">
	      <b>${show.subtitle}</b>
	    </a> <i>(Aired: ${show.starttime})</i>
	    <br/>
	    ${show.description}
	  </td>
        </tr>
      </py:for>
    </table>
  </body>
</html>
